/**
 * ====== Footer Styles ======
 */
.main-footer {
  @extend %centered;
  padding: 10px 0;
  border-top: solid 2px $color-border;
  
  ul {
    display: none;
  
    @include tablet {
      display: block;
    }
  }
  ul li {
    @include tablet {
      display: inline-block;
      float: right;
      margin-right: 20px;
      letter-spacing: 1px;
    }
  }
}

.student {
  @extend %float-left;
  margin-left: 5%;
}
.btp {
  @extend %float-right;
  margin-right: 5%;
  
  @include tablet {
    display: none;
  }
}