.main-header h1 {
  @extend %margin;
  padding: 10px 0;
  border-bottom: 2px solid $color-border;
  
  @include desktop {
    float: left;
    margin-left: 5%;
  }
  @include tablet {
    border: none;
  }
}