/*
 * Main Nav Mobile Styles
 */

.home {
  margin-top: 0;
}

.main-nav {
  padding: 5%;
  
  @media #{$brk-wide} {
    padding-bottom: 0;
  }
  @media #{$brk-narrow} {
    padding: 10px 0;
    border-bottom: 2px solid $color-border;
  }
  ul {
    margin: 0;
  
    @media #{$brk-wide} {
      float: right;
    }
  }
  li {
    background: $color-sec;
    padding: 10px;
    margin: 2px 5%;
  
    @media #{$brk-wide} {
      float: left;
      margin-right: 20px;
    }
    @media #{$brk-narrow} {
      display: inline-block;
      margin: 0;
      min-width: 100px;
      background: $color-prim;
      letter-spacing: 1px;
    }
  }
}
.pc-only {
  display: none;
}