/*
 * Main Nav Mobile Styles
 */

.home {
  margin-top: 0;
}

.main-nav {
  padding: 5%;
  
  @include desktop {
    padding-bottom: 0;
  }
  @include tablet {
    padding: 10px 0;
    border-bottom: 2px solid $color-border;
  }
  ul {
    margin: 0;
  
    @include desktop {
      float: right;
    }
  }
  li {
    background: $color-sec;
    padding: 10px;
    margin: 2px 5%;
  
    @include desktop {
      float: left;
      margin-right: 20px;
    }
    @include tablet {
      display: inline-block;
      margin: 0;
      min-width: 100px;
      background: $color-prim;
      letter-spacing: 1px;
    }
  }
}
.pc-only {
  display: none;
}